<h3>Puerto: {{port}}</h3>
<h3>HOST: {{host}}</h3>
<h3>Tiempo de sesión: {{timeSession}}</h3>
<h3>Mail: {{mail}}</h3>
<h3>Database: {{db}}</h3>
<h3>Database Url: {{dbUrl}}</h3>
<h3>Plataforma: {{platform}}</h3>
<h3>Versión de Node: {{versionNode}}</h3>
<h3>Memoria total reservada: {{memory}}</h3>
<h3>Path de ejecución: {{path}}</h3>
<h3>Process ID: {{processId}}</h3>
<h3>Directorio: {{dir}}</h3>
